@font-face {
    font-family: font;
    src: url(ticketing.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: font;
    font-size: 20px;
    color: #70b32c;
    background-color: #17172c;
    padding: 0px 0px;
    margin: auto;
    align-items: center;
}

h1 {
    text-align: center;
    padding: 20px;
}

/* nav bar */
.navbar {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    display: flex;
    background-color: #70b32c;
    color: #17172c;
}

.brand {
    font-size: 2em;
    padding: 10px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0px 70px;
    display: flex;
}

.nav-links li {
    margin: 5px 50px;
    padding: 10px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a {
    text-decoration: none;
    color: #17172c;
    font-size: 1.5em;
}

.nav-links li a:hover {
    text-decoration: underline;
}

/* project tags */
.tag {
    color: #f2fff3;
    font-weight: bold;
    width: 70px;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    align-items: left;
    justify-content: left;
    text-align: left;
}

#gamejam {
    background-color: rgb(255, 0, 0);
}

#unity {
    background-color: rgb(0, 110, 255);
}

#unreal {
    background-color: rgb(43, 255, 0);
}

#blender {
    background-color: #EA7600;
}

#project {
    padding: 50px;
}

.info {
    padding: 100px;
}

img {
    padding: 10px;
}

footer {
    width: 100%;
    height: 100%;
    background-color: #70b32c;
    color:#17172c;
}

/* footer */
#contact {
    padding: 0% 30%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#contact img {
    width: 60px;
    height: 60px;
    padding: 20px;
}

#copyright {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
}

/* phone version */
@media (max-width: 767px) {
    #portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}