@font-face {
    font-family: font;
    src: url(ticketing.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: font;
    font-size: 1.5rem;
    color: #70b32c;
    background-color: #17172c;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

h1 {
    text-align: center;
    padding: 1.042vw 1.852vh;
    margin: 0;
}

a:link {
    color: #46701c;

  }
  a:visited {
    color: #630c6b;
  }
  a:hover {
    color: #70b32c;
  }
  a:active {
    color: #70b32c;
  }

/* nav bar */
.navbar {
    font-size: 1.25rem;
    height: 6.481vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    display: flex;
    background-color: #70b32c;
    color: #17172c;
}

.brand {
    font-size: 2em;
    padding: 1vw;
    white-space: nowrap;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin: 0.26vw 4.63vh;
    padding: 1vw;
    white-space: nowrap;
}

.nav-links li a {
    text-decoration: none;
    color: #17172c;
    font-size: 1.5em;
}

.nav-links li a:hover {
    text-decoration: underline;
}

/* project tags */
.tag {
    color: #f2fff3;
    font-weight: bold;
    width: 3.646vw;
    height: 1.852vh;
    padding: 0.26vw 0.463vh;
    border-radius: 0.26vw 0.463vh;
    align-items: left;
    justify-content: left;
    text-align: left;
}

#gamejam {
    background-color: rgb(255, 0, 0);
}

#unity {
    background-color: rgb(0, 110, 255);
}

#unreal {
    background-color: rgb(43, 255, 0);
}

#blender {
    background-color: #EA7600;
}

/* footer */
footer {
    width: 100%;
    height: 100%;
    background-color: #70b32c;
    color:#17172c;
}

#contact {
    padding: 0% 30%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#contact img {
    width: 6vw;
    height: 6vw;
    padding: 20px;
}

#copyright {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
}