/* sections */
.sectionTitle {
    width: 100vw;
    height: 5vh;
    overflow: hidden;
    position: relative;
}

.sectionTitle img {
    height: 100%;
    max-width: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

#trailer {
    top: 6.481vh;
    position: relative;
    height: calc(100vh - 6.481vh);
    width: 100%;
}

#jobTitle {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

#about {
    padding-inline: 12vw;
    margin: 0;
    font-size: 2.3rem;
}

#about img {
    max-width: 20vw;
    max-height: 100vh;
    float: left;
}

#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* projects display */
.projects {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 100%;
}

.box {
    max-width: 20.833vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 4.63vh;
}
.box img {
    max-width: 20.833vw;
    max-height: 20.833vw;
}
.box img:hover {
    transform: scale(0.95);
    filter: drop-shadow(0 0 20px #70b32c);
}

@media (max-width: 768px) {
    .projects {
        flex-wrap: wrap;
    }

    .box {
        max-width: 90vw;
    }
    .box img {
        max-width: 90vw;
        max-height: 90vw;
    }

    #about {
        align-content: center;
        text-align: center;
        font-size: 1rem;
    }
    #about img {
        max-width: 60vw;
        float:none;
    }
}